<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#" class="brand-logo">_Music Crawler</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>KKBOX</a></li>
      </ul>
    </div>
  </nav>

  <div >
    <ul class="collapsible" data-collapsible="accordion" id="containerSong"> </ul>
  </div>

  <script type="text/javascript">
    $.get('/kkbox', function(res) {
      var data = JSON.parse(res);
      for(var i in data) {
        var li = document.createElement('li');
        var div = document.createElement('div');
        var divf = document.createElement('div');
        var divbody = document.createElement('div');
        var txt = document.createTextNode(data[i].title);
        div.appendChild(txt);
        div.className = "collapsible-header";
        var iframe = document.createElement('iframe');
        iframe.className = "embed-responsive-item";
        iframe.src = "https://www.youtube.com/embed/qIF8xvSA0Gw?ecver=1";
        iframe.frameborder = "0";
        divf.className = "embed-responsive embed-responsive-4by3";
        divf.appendChild(iframe);
        divbody.appendChild(divf);
        divbody.className = "collapsible-body";
        li.appendChild(div);
        li.appendChild(divbody);
        document.getElementById('containerSong').appendChild(li);
      };
    });
  </script>
</body>
</html>